[Desktop Entry]
Version=1.0
Type=Application
Name=CyberXero Toolkit 
GenericName=Toolkit
Comment=An enhanced and jailbroken Xero Toolkit
Exec=xero-toolkit
Icon=xero-toolkit
Terminal=false
StartupNotify=true
Categories=System;Security;Settings;
Keywords=xero;toolkit;settings;configuration;tools;
StartupWMClass=xyz.xerolinux.xero-toolkit
